// Add your own CSS here!
:root {
  --light: #fafafa;
  --dark: #1b1b1b;
  --secondary: #284b63;
  --tertiary: #84a59d;
  --visited: #afbfc9;
  --primary: #f28482;
  --gray: #3d3d3d;
  --lightgray: #eeeeee;
  --outlinegray: #dadada;
}

[saved-theme="dark"] {
  --light: #1b1b1b !important;
  --dark: #fafafa !important;
  --secondary: #5b778a !important;
  --visited: #4a575e !important;
  --tertiary: #84a59d !important;
  --primary: #f58382 !important;
  --gray: #eeeeee !important;
  --lightgray: #3d3d3d !important;
  --outlinegray: #464646 !important;
}